* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    text-align: center;
}

.nav1 a, .nav2 a, .searchbtn, .randombtn {
    color: black; 
}

/* Navbar section */
nav {
    display: inline;
    margin-top: 100px;
}

a {
    text-decoration: none;
}

nav a:hover, footer a:hover {
    text-decoration: underline;
}


.nav1 {
    margin-right: 600px;
    width: 100%;
}

.nav1 a, .nav2 a {
    margin: 5px;
}

/* Main Section */
.main {
    margin: 10%;
    /* width: 100%;
    text-align: center; */
}

.buttons {
    margin: 30px;
}

.searchbtn, .randombtn {
    background-color: #eaeaea;
    padding: 5px;
    margin: 20px 5px;
}

.inline {
    max-width: 300px;
    margin: auto 100px;
}

.input-icons i {
    position: absolute;
    color: #919191;
}
  
.input-icons {
    width: 100%;
    margin-bottom: 10px;
}
  
.icon {
    padding: 10px;
    min-width: 40px;
}
  
.input-field {
    width: 500px;
    padding: 10px;
    text-align: left;
    margin-bottom: 3px;
    border-radius: 25px;
}

.logo {
    max-width: 300px;
    margin: 25px auto;
}

/* Footer section */
footer {
    background-color: rgb(238, 238, 238);
    position: fixed;
    bottom: 0;
    padding: 20px;
    width: 100%;
}
