* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    text-align: center;
}

nav {
    display: inline;
}

a {
    text-decoration: none;
}

.nav1 a, .nav2 a, .searchbtn, .randombtn {
    color: black; 
}

.main {
    margin: 10%;
}

.buttons {
    margin: 30px;
}

.searchbtn, .randombtn {
    background-color: #eaeaea;
    padding: 5px;
    margin: 20px 5px;
}

.inline {
    max-width: 400px;
    margin:auto;
}

.input-icons i {
    position: absolute;
    color: #919191;
}
  
.input-icons {
    width: 100%;
    margin-bottom: 10px;
}
  
.icon {
    padding: 10px;
    min-width: 40px;
}
  
.input-field {
    width: 100%;
    padding: 10px;
    text-align: center;
    margin-bottom: 3px;
    border-radius: 25px;
}

.logo {
    max-width: 300px;
    margin: auto;
}

footer {
    background-color: rgb(238, 238, 238);
    position: fixed;
    bottom: 0;
}
